{{- /* CollectionPage schema for list/hub pages */ -}}
{{- $description := .Description | default .Summary | default .Title | plainify -}}
{{- if gt (len $description) 250 -}}
  {{- $description = (substr $description 0 247) | printf "%s..." -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{{ .Title | safeJS }}",
  "description": "{{ $description | safeJS }}",
  "url": "{{ .Permalink | absURL }}",
  "inLanguage": "en-US",
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}"
  }
}
</script>
{{ partial "json-ld/breadcrumb-auto.html" . }}
